*{
    margin:0px;
    padding:0px;
}
ul ol{
    list-style: none; 
}
a{
    text-decoration:none;
}
body{
    font:normal 14px/25px '微软雅黑';
}
header{

}
header .header-top{
    width:1200px;
    margin:0 auto;
    /* 清除浮动 */
    overflow: hidden;    
}
header .header-top .logo{
    padding-top: 45px;
    width:221px;
    height:61px;
    float:left;
    font-size:20px;
    color:#00978E;
}
header .header-top .log h1{
    width:221px;
    height:61px;
}
header .header-top .tool{
    float: right;
    width:266px;
    height:77px;
    padding-top: 22px;

}
header .header-top .tool .tel{
    width:32px;
    height:25px;
}
header .header-top .tool .icon{
    width:27px;
    height:27px;
}
header .header-top .tool .telnumber{
    display: inline-block;
    text-align: center;
    width:158px;
    height:28px;
    color:#00978E;
    font-size:20px;
    line-height:28px;
}
header .header-top .tool .r2{
    width:254px;
    height:28px;
    border:1px solid rgb(175, 172, 172);
    border-radius:3px;
    margin-top:10px;
}
header .header-top .tool .input1{
    width:210px;
    padding-left: 20px;
    height:28px;
    float: left;
    border: none;
    outline:none;
}
header .header-top .tool .bt1{
    width:24px;
    height: 28px;
    border:none;
    float: left;
    border:none;
    background-color: white;
    cursor:pointer;
}
nav{
    height:60px;
    background-color: #00978E;
    margin-top:20px;
}
header nav ul{
    width:1200px;
    margin:0 auto;
    list-style: none;
}
header nav li{
    text-align: center;
    float: left;
    width:150px;
    color:white;
    line-height: 60px;
    font-size:15px;
}
header nav li.cur{
    background-color: #015e58;
}
header nav ul li a{
    display: block;
    width:150px;
    height:60px;
    color:white;
    font-size:16px;
}
header nav ul li a:hover{
    background-color: #015e58;
}
.banner .banner-img{
    width:100%;

}
.banner{
    position: relative;
    border:1px solid black;
}
.banner .center{
    position: absolute;
    width:1200px;
    height:300px;
    left:50%;
    margin-left:-600px;
    top:50%;
    margin-top:-150px;
    /* background-color: aqua; */
}
.banner .center .left-btn{
    position: absolute;
    top:50%;
    margin-top:-37px;
    width:56px;
    height:74px;
    background-color: rgba(99, 94, 94, 0.3);
}
.banner .center .right-btn{
    position: absolute;
    top:50%;
    margin-top:-37px;
    left:100%;
    margin-left:-56px;
    width:56px;
    height:74px;
    background-color: rgb(175, 172, 172,.3);
}
.banner .center h2{
   position: absolute;
   width:504px;
   height:79px;
   font-size:60px;
   top:50%;
   margin-top:-100px;
   left:5%;
   color:#00978E;
   font-weight:normal;
   /* left:10%; */
}
.banner ol{
    position:absolute;
    width:120px;
    height:12px;
    /* background-color: aliceblue; */
    bottom: 20px;
    left:50%;
    margin-left:-60px;
    list-style:none;
}
.banner ol li{
    float: left;
    width:20px;
    height:12px;
    margin-right:10px;
    background-color: aliceblue;
    border-radius:5px;
    opacity: .6;
}
.banner ol li:last-child{
    margin-right:0;
}
.banner ol li.cur{
    width:30px;
    background-color: #00978E;
}

