*{
    margin:0px;
    padding:0px;
}
ul ol{
    list-style: none; 
}
a{
    text-decoration:none;
}
body{
    font:normal 14px/25px '微软雅黑';
}
header{

}
header .header-top{
    width:1200px;
    margin:0 auto;
    /* 清除浮动 */
    overflow: hidden;    
}
header .header-top .logo{
    padding-top: 45px;
    width:221px;
    height:61px;
    float:left;
    font-size:20px;
    color:#00978E;
}
header .header-top .log h1{
    width:221px;
    height:61px;
}
header .header-top .tool{
    float: right;
    width:266px;
    height:77px;
    padding-top: 22px;

}
header .header-top .tool .tel{
    width:32px;
    height:25px;
}
header .header-top .tool .icon{
    width:27px;
    height:27px;
}
header .header-top .tool .telnumber{
    display: inline-block;
    text-align: center;
    width:158px;
    height:28px;
    color:#00978E;
    font-size:20px;
    line-height:28px;
}
header .header-top .tool .r2{
    width:254px;
    height:28px;
    border:1px solid rgb(175, 172, 172);
    border-radius:3px;
    margin-top:10px;
}
header .header-top .tool .input1{
    width:210px;
    padding-left: 20px;
    height:28px;
    float: left;
    border: none;
    outline:none;
}
header .header-top .tool .bt1{
    width:24px;
    height: 28px;
    border:none;
    float: left;
    border:none;
    background-color: white;
    cursor:pointer;
}
nav{
    height:60px;
    background-color: #00978E;
    margin-top:20px;
}
header nav ul{
    width:1200px;
    margin:0 auto;
    list-style: none;
}
header nav li{
    text-align: center;
    float: left;
    width:150px;
    color:white;
    line-height: 60px;
    font-size:15px;
}
header nav li.cur{
    background-color: #015e58;
}
header nav ul li a{
    display: block;
    width:150px;
    height:60px;
    color:white;
    font-size:16px;
}
header nav ul li a:hover{
    background-color: #015e58;
}
.banner .banner-img{
    width:100%;

}
.banner{
    position: relative;
    border:1px solid black;
}
.banner .center{
    position: absolute;
    width:1220px;
    height:300px;
    left:50%;
    margin-left:-600px;
    top:50%;
    margin-top:-150px;
    /* background-color: aqua; */
}
.banner .center .left-btn{
    position: absolute;
    top:50%;
    margin-top:-37px;
    width:56px;
    height:74px;
    background-color: rgba(99, 94, 94, 0.3);
}
.banner .center .right-btn{
    position: absolute;
    top:50%;
    margin-top:-37px;
    left:100%;
    margin-left:-56px;
    width:56px;
    height:74px;
    background-color: rgb(175, 172, 172,.3);
}
.banner .center h2{
   position: absolute;
   width:504px;
   height:79px;
   font-size:60px;
   top:50%;
   margin-top:-100px;
   left:5%;
   color:#00978E;
   font-weight:normal;
   /* left:10%; */
}
.banner ol{
    position:absolute;
    width:120px;
    height:12px;
    /* background-color: aliceblue; */
    bottom: 20px;
    left:50%;
    margin-left:-60px;
    list-style:none;
}
.banner ol li{
    float: left;
    width:20px;
    height:12px;
    margin-right:10px;
    background-color: aliceblue;
    border-radius:5px;
    opacity: .6;
}
.banner ol li:last-child{
    margin-right:0;
}
.banner ol li.cur{
    width:30px;
    background-color: #00978E;
}
.content{
   padding-top:71px;
}
.content .useful-links{
    padding-top: 70px;
    width:905px;
    height:150px;
    margin:0 auto;

}
.content .useful-links ul{
   list-style:none;
}
.content .useful-links ul li{
    float: left;
    width:104px;
    margin-right:56px;
 }
 .content .useful-links ul li span{
    display: block;
    text-align: center;
    font-size:20px;
    color:black;
    line-height: 40px;
 }
 .content .useful-links ul li:last-child{
    margin-right:0px;
 }
 .content .news-and-notice{
     width:1240px;
     height:376px;
     /* background-color: red; */
     margin:0 auto;
     margin-top:50px;
 }
 .content .news-and-notice .news{
     float:left;
     width:877px;
     height:376px;
     /* background-color: blanchedalmond; */
 }
 .content .news-and-notice .news h3{
     height:25px;
     margin-bottom: 20px;
     border-left:5px solid #00978E;
     line-height: 25px;
     padding-left:5px;
 }
 .content .news-and-notice .notice{
    float:left;
    width:363px;
    height:376px;
    /* background-color: blue; */
    padding:0px;
}
.content .news-and-notice .news .news-content .hots-new{
    width:422px;
    height:328px;
    float:left;
    position:relative;
}
.content .news-and-notice .news .news-content ul{
    list-style: none;
    float: left;
    width:445px;
    height:328px;
}
.content .news-and-notice .news .news-content ul li{
    line-height:41px;
    padding-left:20px;
    font-size:16px;
}
.content .news-and-notice .news .news-content ul li span{
    float: right;
    padding-right: 20px;
}
.content .news-and-notice .news .news-content ul li.spec a{
    color: #00978E;
    font-weight:600;
}
.content .news-and-notice .news .news-content .hots-new .info{
    position: absolute;
    width:100%;
    height:40px;
    background-color: rgba(99, 94, 94, 0.3);
    text-align: center;
    line-height: 40px;
    left:0;
    bottom:0;
    color:white;
}
.content .news-and-notice .notice h3{
    height:25px;
    margin-bottom: 20px;
    border-left:5px solid #00978E;
    line-height: 25px;
    padding-left:5px;
}
.content .news-and-notice .notice ol{
    height:328px;
    list-style: none;
    padding:0px;
    margin:0;
}
.content .news-and-notice .notice ol li{
    line-height:30px;
    padding-left:0px;
    font-size:16px;
    overflow: hidden;
    margin-top:6px;
}
.content .news-and-notice .notice ol li .number{
    float:left;
    width:53px;
    height:57px;
    font-size:28px;
    background-color:#00978E;
    text-align: center;
    line-height: 57px;
    margin-right: 9px;
    color: white;
}
.content .news-and-notice .notice ol li.number a{
   color:black;
}


